.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#BirthdayImage.jpg{
    border-width: 50px;
    border-style:ridge;
    border-color:aqua;
}
